{% set_global previous_place = "" %}
{% for equipment in equipments %}
  {% if previous_place != equipment.place %}
    <h2> {{equipment.place}} </h2>
  {% endif %}
  {% if equipment.working %}
  <h3><p style="color:green">✅ 
  {% elif equipment.working == undefined %}
  <h3><p style="color:grey">❔ 
  {% else %}
  <h3><p style="color:red">⛔ 
  {% endif %}
  Aufzug {{ equipment.name }} </p></h3>
  {% set_global previous_place = equipment.place %}
{% endfor %}

{% if errors %}
  <h1>Fehler bei der Abfrage</h1>
  {% for err in errors %}
    <p style="color:orange">{{ err }}</p>
  {% endfor %}
{% endif %}
